*, *::before, *::after {
    box-sizing: border-box;
}

.box1 {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 2px solid #333;
    background-color: #fafafa;
    display: inline-block;
    vertical-align: top;
}


.box2 {
    width: 300px;
    padding: 5%;
    margin: 20px;
    border: 2px solid #940b0b;
    background-color: #fafafa;
    display: inline-block;
    vertical-align: top;
}